*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background: url("../assets/Namm.jpg");

  /* #EC5242 converted to RGB Value to adjust opacity */
  background-color: rgba(236, 83, 66);
  background-blend-mode: multiply;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0;
  padding-bottom: 0;
  border: 1px solid #ec5242;
}

.mob-nav {
  padding: 5%;
  color: white;
}

.mob-nav i {
  font-size: 2rem;
}

/* Hamburger Menu Starts Here */

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(39, 42, 49, 0.97);
  padding: 5% 2%;
  display: none;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  transition: left 0.4s ease-in-out;
}

.mob-menu ul {
  margin-top: 5rem;
}

.mob-menu a {
  text-decoration: none;
  color: #d3d3d3;
  cursor: pointer;
  font-size: 1.3rem;
}

.mob-menu li {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 3% 0;
  text-align: center;
  align-items: center;
}

.time_place-abt a {
  text-decoration: underline;
  color: white;
  font-style: italic;
}

.mob-menu a:hover {
  color: #ec5242;
  transition: 0.4s ease-in-out;
}

.fa-xmark {
  margin-left: 3%;
  margin-top: 0;
}

/* End of hamburger */

.intro-section {
  width: 90%;
  margin: 7% auto;
}

.name_title {
  color: #fff;
}

.intro-text {
  font-size: 1.6em;
  margin: 3%;
}

.mn-title {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  font-size: calc(3.8rem + ((1.8vw - 8px) * 0.6944));
  text-align: center;
  color: #fff;
}

.mn-title span {
  background-color: rgba(236, 82, 66, 0.5);
  padding: 0 3%;
}

.title_desc {
  font-family: "lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  background-color: rgb(39, 42, 49, 0.7);
  max-width: 480px;
  margin: 1% auto 0;
}

.desc-text {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 3%;
  font-size: 1.2rem;
  text-align: justify;
  background-color: rgba(236, 83, 66, 0.4);
  margin-top: 2%;
}

.time_place {
  color: white;
  justify-content: center;
  border: 2px solid white;
  padding-bottom: 2%;
  background-color: rgb(39, 42, 49, 0.5);
}

.time_place h3 {
  margin: 2% auto 0;
  justify-self: center;
  text-align: center;
}

/* main section starts here */

.main-container {
  margin: 0;
  padding: 0;
}

.sessions_container {
  background: url(../assets/Sessions_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  padding-top: 4%;
  align-items: center;
  justify-content: center;
}

.line {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto;
  background-color: rgba(236, 83, 66, 1);
}

.session {
  display: flex;
  width: 92%;
  background-color: rgba(148, 148, 148, 0.4);
  align-items: center;
  padding: 2% 1.5%;
  gap: 2%;
  justify-content: space-around;
  margin: 1.5%;
}

.session img {
  width: 12%;
}

.session h3 {
  font-size: calc(1.3rem + ((1.2vw - 8px) * 0.6944));
  width: 20%;
  color: #ec5242;
}

.session p {
  display: flex;
  font-size: calc(1rem + ((1.2vw - 7.8px) * 0.6944));
  text-align: left;
  width: 75%;
}

.join-link {
  font-size: calc(1rem + ((1.2vw - 7.8px) * 0.6944));
  cursor: pointer;
  background-color: #ec5242;
  color: white;
  border: none;
  padding: 20px 35px;
  max-width: 300px;
  margin: 7% auto;
  text-decoration: none;
  text-align: center;
}

.featured_musicians {
  margin: 4% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Masters {
  width: 100%;
  padding: 1%;
}

.guests {
  display: flex;
  flex-direction: row;
  gap: 4%;
  margin-top: 20px;
  justify-content: space-between;
}

.guest_img {
  width: 9rem;
  height: auto;
  background: url("../assets/speaker_bg.jpg") no-repeat top left;
  padding-left: 12px;
  padding-top: 12px;

  /* border: 2px solid black; */
  object-fit: cover;
}

.desc {
  display: flex;
  flex-direction: column;
}

.desc h2 {
  font-size: calc(1.5rem + ((1.2vw - 7.8px) * 0.6944));
  max-width: 50%;
}

.line_guests {
  display: block;
  width: 2.2rem;
  height: 2px;
  margin: 10px 0;
  background-color: #d3d3d3;
}

.skills {
  font-size: calc(0.9rem + ((1.2vw - 7.8px) * 0.6944));
  color: #ec5242;
  margin-top: 1%;
  max-width: 90%;
  font-style: italic;
}

.info {
  font-size: calc(1rem + ((1.2vw - 7.8px) * 0.6944));
}

.partners {
  padding: 5%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background: #272a31;
}

.partners_title {
  color: white;
}

.partner_logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.partner_logos img {
  width: 25%;
  margin: 0 2%;
  height: 27%;
  filter:
    invert(50%) sepia(70%) saturate(1%) hue-rotate(357deg)
    brightness(150%) contrast(97%);
}

.footer_logos {
  width: 80%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.footer_logos img {
  width: 30%;
  filter:
    invert(90%) sepia(0%) saturate(100%) hue-rotate(10deg)
    brightness(200%) contrast(100%);
  margin: 2%;
}

.footer_text {
  color: #272a31;
  font-size: calc(1.2rem + ((1.2vw - 8px) * 0.6944));
}

/* About section Starts here */

.abt-header {
  background: url("../assets/NAMM-abt.jpeg");

  /* #EC5242 converted to RGB Value to adjust opacity */
  background-color: rgb(211, 211, 211, 0.3);

  /* background-blend-mode:hard-light; */

  /* background-blend-mode:multiply; */
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 2px solid white;
  align-items: center;
}

.name_title_abt {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #d3d3d3;
}

.intro-text-abt {
  font-size: 1.4em;
  margin: 3%;
  color: #fff;
}

.mn-title-abt {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  font-size: calc(3.1rem + ((1.2vw - 8px) * 0.6944));
  line-height: 4.3rem;
  text-align: center;
  color: #ec5242;
  background-color: #d3d3d3;
}

.title_desc-abt {
  color: #fff;
  margin-top: 2%;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.desc-text-abt {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 3%;
  font-size: 1.2rem;
  text-align: justify;
  background-color: rgba(236, 83, 66, 0.7);
  border-radius: 6px;
  margin: 2% 0;
}

.time_place-abt {
  color: white;
  justify-content: center;
  border: 2px solid white;
  text-align: center;
  padding: 5%;
  background-color: rgb(39, 42, 49, 0.5);
}

/* Logo and Past NAMM sessions */

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5%;
  width: 75%;
  text-align: center;
}

.logo h2 {
  text-align: center;
}

.logo p {
  text-align: center;
  margin: 5% 0;
  font-weight: 400;
  font-size: 1rem;
  color: #272a31;
}

.logo img {
  margin: 2% 0;
  padding: 2% 0;
  border: 1px solid rgb(230, 230, 230);
  width: 95%;
}

.previous_sessions {
  display: flex;
  flex-direction: column;
  padding: 0 7%;
  text-align: center;
}

.previous_sessions p {
  margin: 5% 3%;
  color: #272a31;
  font-size: 14px;
}

.session_photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.First_photo {
  width: 80%;
  height: 20vh;
  background: url(../assets/NAMM2021.webp);
  background-color: rgba(236, 82, 66, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin: 3%;
  transition: all 0.5s;
}

.Second_photo {
  width: 80%;
  height: 20vh;
  background: url(../assets/NAMM2022.jpg);
  background-color: rgba(236, 82, 66, 0.927);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: 0;
  margin: 3% 0 6% 0;
  transition: all 0.5s;
}

.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.pic h2 {
  font-weight: 800;
  color: white;
}

.pic p {
  color: white;
  font-size: calc(1.2rem + ((1.2vw - 7.8px) * 0.6944));
  width: 60%;
  text-align: center;
  margin: 2% auto 0;
}

.pic:hover {
  box-shadow: none;
  color: #ec5242;
  background-blend-mode: hard-light;
  font-weight: 900;
}
